/*PAGE GENERAL BODY*/

body {
    width: 100%;
    height: 100%;
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #021B79, #0575E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: contain;
    color: white !important;
}

.default-button {
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding-top: 1px;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background: rgb(0, 93, 146);
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    line-height: 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in rgba(0, 93, 146, 0.5);
}


.default-button:hover {
    transition: background 0.3s ease-out;
    
    background: rgba(255,255,255, 0.5);
    cursor: pointer;
}

.content-box {

    border-radius: 10px;
    /*border: 2px solid rgba(255, 255, 255, 0.5);*/
    width: 100%;
    padding: 15px 50px;
    margin: 30px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    z-index: 200;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
}

.back-button-position {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    z-index: 1000;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flexible-box {
    display: flex;
    justify-content: space-between;
}

.flexible-box a {
    width: 90px;
}

.form-box {
    padding-top: 25px;
    text-decoration-color: white;
    color: white;
    justify-content: center
}

.form-box button {
    border: none;
    margin: 50px 0!important;
}

/*.form-box input {
    display: none;
    width: 70%;
    margin: 5px auto!important;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: white solid;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.form-box input:focus {
    border-bottom: rgb(0, 93, 146) solid;
}

.form-box input::placeholder {
    font-size: 15px;
    color: rgb(255, 255, 255, 0.5);
}*/

.form-box input {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: #white;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-width .2s;
  text-align: center;
}

.form-box input::placeholder {
  color: white;
}

.form-box input:focus {
  border-bottom: 3px solid white;
}

.results-box {
    font-size: 13px;
    text-align: center;
    display: block;
}

.results-box label {
    display: none;
    padding-top: 5px;
}

.results-box label output {
    font-weight: 900;
}


/*  HOME PAGE  */

.home-page header {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);

}

.home-page header .container {
    width: 100%;
    height: 100%;
}

.home-page header .container .dashboard {
    height: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
}

.home-page section .container .content-all h2 {
    font-size: 20px;
}

.home-page section .container .content-all p {
    padding: 20px 0;
    font-size: 15px;
}


/*  SEAT CONFIGURATION PAGE  */

.seat-configuration section {
    height: 100vh;
    padding-top: 18vh;
    position: relative;
}

.seat-configuration .container .content-all h2 {
    font-size: 20px;
}


/*  PROFIT CALCULATOR PAGE  */

.profit-calculator section {
    height: 100vh;
    padding-top: 18vh;
    position: relative;
}

.profit-calculator .container .content-all h2 {
    font-size: 20px;
    color: white;
}



/*  PROFIT CALCULATOR PAGE  */

.ticket-calculator section {
    height: 100vh;
    padding-top: 18vh;
    position: relative;
}

.ticket-calculator .container .content-all h2 {
    font-size: 20px;
}


/*  UNDER DEVELOPMENT PAGE  */

.underDev section {
    height: 100vh;
    padding-top: 18vh;
    position: relative;
}

.underDev .container img {
    width: 50%;
    padding-left: 10px;
}

.underDev .container .content-all h2 {
    font-size: 20px;
}

.underDev .container .content-all p {
    padding: 15px 0;
}

.resultText {
    font-size: 30px;
}


/*background: #6441A5;*/


/* fallback for old browsers */


/*background: -webkit-linear-gradient(to right, #2a0845, #6441A5);*/


/* Chrome 10-25, Safari 5.1-6 */


/*background: linear-gradient(to right, #2a0845, #6441A5);*/


/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */