/*###########   RESET   ###########*/

@font-face {
    font-family: AirlineFont;
    src: url('../assets/fonts/am4-font.woff2');
}

body {
    font-family: 'AirlineFont';
    font-size: 100%;
    background: #0575E6;
    background: -webkit-linear-gradient(to top, #021B79, #0575E6);
    background: linear-gradient(to top, #021B79, #0575E6);
    background-attachment: fixed;
}

button {
    border: none;
    outline: none!important;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0!important;
}

table {
    align-items: center;
    padding: 15px;
    text-align: center;
    margin: auto;
}

th,
td {
    border: 1px solid white;
    padding: 15px;
    text-align: center;
}


/*###########   DOCUMENT   ###########*/


/*  Home Page  */

.home-page header .middle {
    text-align: center;
    color: var(--primary-font-color);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
}

.home-page header .middle h1 {
    font-size: 2.5rem;
}

.home-page section .content-side .container-post-side>div {
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}

.home-page section .content-side .container-post-side>div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.home-page section .content-side .container-post-side>div h3 {
    padding: 10px;
    font-size: 1.3rem;
    color: var(--primary-font-color);
}


/*  Seats Page  */

.seats-page .content-box h2 {
    padding: 15px 0 35px 0;
}

.seats-page .content-box form {
    text-decoration-color: white;
    color: white;
    justify-content: center;
    overflow-x: auto;
}

.seats-page .content-box form button {
    margin: 50px 0;
}

.seats-page .content-box form input {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-width .2s;
    text-align: center;
}

.seats-page .content-box form input::placeholder {
    color: white;
}

.seats-page .content-box form input:focus {
    border-bottom: 3px solid white;
}


/*  Profit Page  */

.profit-page .content-box h2 {
    padding: 15px 0 35px 0;
}

.profit-page .content-box form {
    text-decoration-color: white;
    color: white;
    justify-content: center;
    overflow-x: auto;
}

.profit-page .content-box form button {
    margin: 50px 0;
}

.profit-page .content-box form input {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-width .2s;
    text-align: center;
}

.profit-page .content-box form input::placeholder {
    color: white;
}

.profit-page .content-box form input:focus {
    border-bottom: 3px solid white;
}


/*###########   OBJECTS   ###########*/

.content-box {
    margin: 25px 0;
    padding: 15px 40px;
    border-radius: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.2);
}

.content-box h2 {
    padding: 10px 0;
    font-size: 2rem;
    color: var(--primary-font-color);
}

.content-box p {
    padding: 5px 0;
    color: var(--primary-font-color);
}

#backover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: all .5s, z-index 0ms;
}

#backover.show {
    opacity: .7;
    visibility: visible;
}

.result-box {
    position: absolute;
    width: 350px;
    min-height: 450px;
    padding: 10px 5px;
    border-radius: 10px;
    color: var(--primary-font-color);
    background-color: var(--background-dark);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    transition: all .5s, z-index 0ms;
}

.result-box.show {
    opacity: .9;
    visibility: visible;
}

.result-box>.result-close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-image: url('../assets/img/close.svg');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    transition: transform .3s ease-in-out;
}

.result-box>.result-close:hover {
    transform: rotate(90deg);
}

.result-box>.result-content {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    text-align: center;
}

.result-box>.result-content hr {
    background-color: var(--background-light);
}

.result-box>.result-content h5 {
    text-align: center;
    padding: 15px 0;
}

.result-box>.result-content>span {
    display: block;
}

.result-box>.result-content .label-item {
    margin: 10px 0;
}

.result-box>.result-content .label-item .label-result {
    color: var(--secondary-color);
    font-weight: bolder;
}

.model-button {
    min-width: 70px;
    padding: .5px 5px;
    border-radius: 10px;
    margin-bottom: 8px;
    line-height: 30px;
    background-color: var(--tertiary-button-color);
    color: var(--primary-font-color);
}

.model-button:hover {
    transition: background-color .3s ease-in-out;
    background-color: #83AAD7;
}

.model-button:active {
    background-color: #a5f7b6;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/*########################################################################*/


/* .flexible-box {
    display: flex;
    justify-content: space-between;
}

.flexible-box a {
    width: 90px;
}

.results-boxR {
    width: 100% text-align: center;
    display: inline-block;
}

.results-boxR label {
    display: none;
    font-size: 12px;
    padding-top: 5px;
}

.results-boxR label output {
    font-weight: 900;
    display: inline-block;
}

.results-box {
    width: 100% text-align: center;
    display: inline-block;
}

.results-box label {
    display: none;
    font-size: 12px;
    padding-top: 5px;
}

.results-box label output {
    font-weight: 900;
    display: inline-block;
}

.results-boxE {
    width: 100% font-size: 12px;
    text-align: center;
    display: inline-block;
}

.results-boxE label {
    font-size: 12px;
    display: none;
    padding-top: 5px;
}

.results-boxE label output {
    font-weight: 900;
    display: inline-block;
}

.ticket-calculator section {
    height: 100vh;
    padding-top: 18vh;
    position: relative;
}

.ticket-calculator .container .content-all h2 {
    font-size: 20px;
}

.resultText {
    font-size: 30px;
} */


/*###########   RESPONSIVE   ###########*/

@media (max-width: 575px) {
    .home-page header .middle h1 {
        font-size: 1.7rem;
        line-height: 50px;
    }
    .content-box h2 {
        font-size: 1.7rem;
    }
    .home-page section .content-side .container-post-side>div h3 {
        padding: 5px;
    }
    .result-box {
        width: 320px;
    }
}


/*###########   VARIABLES   ###########*/

:root {
    --primary-color: #24659A;
    --secondary-color: #007BFF;
    --primary-font-color: #F2F2F2;
    --secondary-font-color: #C2C2C2;
    --tertiary-font-color: #202020;
    --primary-button-color: #8B0000;
    --secondary-button-color: #28A745;
    --tertiary-button-color: #005D92;
    --secondary-button-color-hover: #218838;
    --background-light: #F2F2F2;
    --background-dark: #111111;
}
