/*  modified from: https://codepen.io/liamj/pen/QYyBzz  */

*, *::before, *::after {
  box-sizing: inherit;
}

.switch-table, .switch-table > td {
  border: 0;
}

.switch-text {
  font-size: 16px;
  vertical-align: top;
  padding-left: 2px; padding-right: 2px;
}

.switch-wrap {
  display: inline-block;
  vertical-align: top;
  background: #383838;
  padding: 2px 4px;
  height: 20px; width: 40px;
  border-radius: 10px;
  margin-bottom: 0;
}
.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0; height: 0;
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  -webkit-transition: .2s;
  transition: .2s;
}
.switch::after {
  content: '';
  border-radius: 50%;
  background: #55acee;
  grid-column: 2;
  -webkit-transition: background .2s;
  transition: background .2s;
}

input:checked + .switch {
  grid-template-columns: 1fr 1fr 0fr;
}
input:checked + .switch::after {
  background-color: #78b159;
}
